@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #141d2f;
  font-family: "Space Mono";
}

.maincard {
  width: 327px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

.lighttext {
  color: white;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: right;
}

.darktext {
  color: #4b6a9b;
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 2.5px;
  text-align: right;
}

.lightanddark {
  display: flex;
  align-items: center;
}

.lightdiv {
  display: flex;
  gap: 15px;
}

.darkdiv {
  display: flex;
  gap: 15px;
  display: none;
}

.container1 {
  display: flex;
  justify-content: space-between;
}

.container2 {
  width: 327px;
  height: 60px;
  background-color: #1e2a47;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.searchfoto {
  width: 20px;
  height: 20px;
}
.searchdiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.input {
  width: 184px;
  height: 25px;
  background-color: #1e2a47;
  border: none;
  outline: none;
  color: white;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.input::placeholder {
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.button {
  width: 84px;
  height: 46px;
  background-color: #0079ff;
  border-radius: 10px;
  border: none;
  font-family: "Space Mono";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  color: white;
  cursor: pointer;
}

.container3 {
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 15px;
  width: 327px;
  height: 517px;
  background-color: #1e2a47;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h2 {
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.mail {
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: #0079ff;
}

.date {
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.titlediv {
  display: flex;
  gap: 20px;
}

.titleinfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

h3 {
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.followersdiv {
  width: 279px;
  height: 85px;
  background-color: #141d2f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 15px;
}

.followingtext {
  font-family: "Space Mono";
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  gap: 45px;
}

.followingnumber {
  font-family: "Space Mono";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-left: -15px;
}

.followers {
  margin-right: -10px;
}

.contactdiv {
  display: flex;
  gap: 20px;
}
.icon {
  width: 17px;
  height: 20px;
}
.icons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.iconandtext {
  display: flex;
  gap: 15px;
}
.icontext {
  font-family: "Space Mono";
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
  color: white;
}

.textdiv {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.icon1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.icon2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ovalfoto1 {
  display: none;
}

@media (min-width: 768px) {
  .maincard {
    margin-top: 70px;
  }

  .container1 {
    width: 573px;
  }

  .container2 {
    padding-left: 30px;
    width: 573px;
    height: 69px;
    gap: 150px;
  }

  .button {
    width: 106px;
    height: 50px;
  }

  .input {
    width: 254px;
  }

  .searchdiv {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .container3 {
    width: 573px;
    padding-left: 30px;
  }

  .ovalfoto {
    width: 117px;
    height: 117px;
  }

  h2 {
    font-family: "Space Mono";
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
  }

  .mail {
    width: 79px;
    height: 24px;
  }

  .date {
    width: 166px;
    height: 22px;
  }

  .titleinfo {
    justify-content: center;
  }

  .titlediv {
    gap: 40px;
  }

  h3 {
    font-family: "Space Mono";
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
  }

  .followersdiv {
    width: 493px;
    height: 85px;
  }

  .followingtext {
    justify-content: left;
    padding-left: 30px;
    gap: 100px;
  }

  .followingnumber {
    justify-content: left;
    padding-left: 50px;
    gap: 130px;
  }

  .icons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 80px;
  }

  .icon1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .icon2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (min-width: 1040px) {
  .container1 {
    width: 730px;
  }

  .container2 {
    width: 730px;
    height: 69px;
    gap: 290px;
  }
  .container3 {
    width: 730px;
    height: 444px;
    padding-left: 200px;
    position: relative;
  }

  .ovalfoto {
    display: none;
  }

  .ovalfoto1 {
    display: block;
    position: absolute;
    left: 40px;
    top: 30px;
  }

  .sun {
    cursor: pointer;
  }

  .dark {
    cursor: pointer;
  }

  .button:hover {
    background-color: #60abff;
  }
}
